[Unit]
Description=Heartbeat Report
Documentation=http://www.isoblue.org/
Requires=
After=
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/heartbeat'
Restart=on-failure
RestartSec=2
