[Unit]
Description=Port foward RTSP streams from 360cam to vip4.ecn.purdue.edu

[Service]
ExecStart=/usr/bin/ssh -NR *:7554:360cam:8554 isoblue2@vip4.ecn.purdue.edu
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
