[Unit]
Description=Port foward port %I to vip4.ecn.purdue.edu

[Service]
ExecStart=/usr/bin/ssh -nNT -o "ServerAliveInterval 15" -o "ServerAliveCountMax 3" -o "ExitOnForwardFailure yes" -o "TCPKeepAlive yes" -R *:5020:localhost:22 isoblue2@vip4.ecn.purdue.edu -vvvv
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
